.main__contactanos {
    justify-content: map-get($estilos, centro);
}
.contactanos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'map map'
    'form ofi';
    
    justify-content: center;
    gap: 2em 20px;
    margin: 0 10vw;
    margin-top: 2em;

    &__map {
        grid-area: map;
        width: 100%;
        height: 35vh;
        margin-bottom: 3vw;
        border-radius: 2vw;
        box-shadow: map-get($estilos, sombra);
    }
    &__formulario {
        grid-area: form;
        background: $color-de-formulario;    
        width: 100%;
        padding: 3vw;
        border-radius: 20px;

        & div {
            font-size:1.25em;
            margin: 15px 0;
            justify-content: center;
        }
        & input {
            width: 100%;
            height: 1.5em;
            font-size: 1.25em;
            border-radius: 15px;
        }
    }
    &__categoria {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__oficinas {
        grid-area: ofi;
        background: map-get($estilos, c-ofi);   
        width: 100%;
        min-height: 500px;
        font-size: 1.25em;
        padding: 3vw;
        border-radius: 20px;

        & h2{
            color: #05b9e6;
        }
        & p{
            margin: 20px 0;
        }
    }
}
.content {
    
    &__categoria {
        & p{
            grid-column: span 2;
        }
    }
    &__terminos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.form-control{
    background: #19252e !important;
}

.comentario {
    height: 150px !important;
}
.check{
    width: 20px !important;
    height: 20px !important;
}

.grupo__check {
    background-color: #00000035;
    color: #fff;
}
#consulta {
    width: 100%;
}



