footer {
    background-color: #292f38;

    height: fit-content;
    padding: 0 2vw;
    margin-top: 50px;
    font-size: 1em;
}

.columna {
    &1 {
        width: fit-content;
        height: fit-content;
        justify-content: center;
    // grid-area: columna1;
        margin: 1em 0; //1em;

        &__logo {
            width: 6.25em;
        }
    }
    &2 {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        // grid-area: columna2;
        margin: 1em 0; //1rem;

        & p{
            color: #b2b2b2;
            margin: 0 1rem;
        }
        &__nombre {
            margin-left: 2em;
        }
        &__github--logo {
            width: 20px;
            margin-left: 2em;
            margin-top: .8em;
        }
    }
    &3 {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        // grid-area: columna3;
        margin: 1em 0; //1rem;

        & img {
            width: 15px;
        }
        & p{
            margin: unset;
        }
    }
    &4 {
        display: block;
        width: fit-content;
        height: fit-content;
        // grid-area: columna4;
        position: relative;
        margin: 1em 0;//1rem;
        min-width: 9.375em;
        min-height: 6.25em;
        
        & .twitter img{
            width: 3em;
            position: absolute;
        
            top: 35px;
        }
        & .facebook img{
            width: 3em;
            position: absolute;
        
            left: 50px;
        }
        & .instagram img{
            width: 3em;
            position: absolute;
        
            top: 50px;
            left: 90px;
        }
    }
}