footer {
    background-color: #292f38;

    min-height: 160px;
    padding: 0 2vw;
    margin-top: 50px;
    font-size: 1em;
}

.columna {
    &1 {
        width: fit-content;
        height: fit-content;

        &__logo {
            width: 10em;
        }
    }
    &2 {
        @include generar-flex (column, center, unset);
        width: fit-content;
        margin: 1em 0;
        gap: 6px;

        & p{
            color: #b2b2b2;
            margin: 0 1rem;
        }
        & a {
            width: fit-content;
            line-height: 10px;
            vertical-align: middle;

            &:hover {
                color: lightskyblue;
            }
        }
        &__nombre {
            margin-left: 2em;
        }
        &__github {
            margin-left: 2em;
            &--logo {
                width: 20px;
            }
        }
    }
    &3 {
        width: fit-content;
        @include generar-flex (column, center, unset);
        margin: 1em 0; //1rem;

        & img {
            width: 15px;
        }
        & p{
            margin: unset;
        }
    }
    &4 {
        display: block;
        width: fit-content;
        position: relative;
        margin: 1em 0;//1rem;
        min-width: 9.375em;
        min-height: 6.25em;
        
        & .twitter img{
            width: 3em;
            position: absolute;
        
            top: 55px;
            @include redes-bg (#3ea0eb);
           
        }
        & .facebook img{
            width: 3em;
            position: absolute;
        
            left: 57px;
            top: 20px;
            @include redes-bg (#3a5795);
        }
        & .instagram img{
            width: 3em;
            position: absolute;
        
            top: 70px;
            left: 90px;
            @include redes-bg (linear-gradient(191deg, rgba(131,58,180,1) 27%, rgba(247,30,36,1) 63%, rgba(253,29,29,1) 72%, rgba(252,176,69,1) 100%));
        }
    }
}