//Aqui iran las Variables... Que aun no eh decidido cuales serán ^^"

$color-de-formulario: linear-gradient(180deg, rgba(0,51,51,1) 0%, rgba(0,51,51,0.50) 50%, rgba(0,51,51,0) 100%);

$color-del-header: linear-gradient(90deg, #65969900 3%, #39464734 5%, #394647 8%, #394647 92%, #39464734 95%, #65969900 97%);

$color-body: linear-gradient(0deg, #292f38 13%, #1b8b9f 50%, #659699 100%);

$color-nav:  linear-gradient(90deg, #65969900 3%, #00a2ff1b 5%, #00a2ff72 8%, #00a2ff72 92%, #00a2ff1b 95%, #65969900 97%);

$borde-c-t: #1f649272;

$color-cruz: #c94d4d;


$ancho: 300px;


// @for $i from 1 through 12 {
//     .col-#{$i} {
//         width: (100% / 12) * $i;
//     }
    
// }

@each $color in blue,yellow,black {
    .#{$color} {
        background-color: #{$color};
    }
}

$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    instagram: #c25e30,
    whatsaspp: green
);

@each $clave, $valor in $redes {
    .btn-#{$clave} {
        background-color: $valor;
    }
}

$estilos: (
    sombra: 0 15px 25px rgba(0,0,0, 0.5),
    centro: center,
    c-ofi: linear-gradient(180deg, rgba(28,38,44,1) 0%, rgba(28,38,44,0.4962359943977591) 76%, rgba(28,38,44,0) 100%),
);

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

.box-small {
    @include sizes(100px, 100px)
}

.box-medium {
    @include sizes(200px, 200px)
}

.box-large {
    @include sizes(500px, 500px)
}

@mixin none-2col {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@mixin generar-flex ($direccion, $eje-principal, $eje-secundario) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $eje-principal;
    align-items: $eje-secundario;
}

@mixin redes-bg ($color-redes) {
    background-color: #3ea0eb00;
    border-radius: 25%;

    &:hover {
        transition: all 300ms;
        background: $color-redes;
        border-radius: 50%;
    }
}